.app-header{
    background-color: rgb(255, 149, 0);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    margin-bottom: 2rem;
    .nav-links{
        display: flex;
    }
    .nav-links *{
        display: flex;
        margin-left: 1.2rem;
        text-decoration: none;
        list-style-type: none;
        font-size: large;
        color: rgb(255, 255, 255);
        .active{            
        }
        :hover{
            color: rgba(128, 128, 128, 0.459);
        }
        &:last-child{
            align-self: center;
        }
    }
    .logo{
        font-family: cursive;
        font-size:2.1rem;
    }
    img{
        height: 2.5rem;
    }

}