<nav class="app-header">
    <h1 class="logo">Bitcoin</h1>
    <ul class="nav-links">
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><img src="../../../assets/icons/home.png"></a></li>
        <li><a routerLink="contact" routerLinkActive="active"><img src="../../../assets/icons/users.png"></a></li>
        <!-- <li><a routerLink="statistic" routerLinkActive="active"><img src="../../../assets/icons/increase.png"></a></li> -->
        <li><a routerLink="signup" routerLinkActive="active">Sign-Up</a></li>
    </ul>
</nav>