form{
    label{
        margin-bottom: 0.8rem;
        font-size: large;
    }
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 20rem;
    background-color: orange;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    input{
        height: 1rem;
        padding: 15px;
        background-color: rgb(249, 249, 249);
        border: none;
        border-radius: 15px;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        &:hover{
            opacity: 0.9;
        }
    }
    button{
        background-color: rgb(52, 172, 0);
        border:none;
        padding: 15px;
        border-radius: 15px;
        color: white;
        font-size: 1.5rem;
        &:hover{
            opacity: 0.9;
        }
    }
}